<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accp.dao.IPaimaiDao">

	<select id="queryLogin" resultType="User">
		SELECT * FROM user WHERE username=#{username} AND usermm=#{usermm}
	</select>
	
	<insert id="addUser">
    	insert into user
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="userid != null" >
	        userid,
	      </if>
	      <if test="username != null" >
	        username,
	      </if>
	      <if test="usermm != null" >
	        usermm,
	      </if>
	      <if test="usersfz != null" >
	        usersfz,
	      </if>
	      <if test="userdh != null" >
	        userdh,
	      </if>
	      <if test="userdz != null" >
	        userdz,
	      </if>
	      <if test="useryzbh != null" >
	        useryzbh,
	      </if>
	      <if test="usersf != null" >
	        usersf,
	      </if>
	      <if test="userwt != null" >
	        userwt,
	      </if>
	      <if test="userda != null" >
	        userda,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	     <if test="userid != null" >
	        #{userid},
	      </if>
	      <if test="username != null" >
	        #{username},
	      </if>
	      <if test="usermm != null" >
	        #{usermm},
	      </if>
	      <if test="usersfz != null" >
	        #{usersfz},
	      </if>
	      <if test="userdh != null" >
	        #{userdh},
	      </if>
	      <if test="userdz != null" >
	        #{userdz},
	      </if>
	      <if test="useryzbh != null" >
	        #{useryzbh},
	      </if>
	      <if test="usersf != null" >
	        #{usersf},
	      </if>
	      <if test="userwt != null" >
	        #{userwt},
	      </if>
	      <if test="userda != null" >
	        #{userda},
	      </if>
	    </trim>
  </insert>
  
  <select id="queryAll" resultType="Pmp">
		select * from pmp
		<where>
			<if test="pmpname != null">
				and pmpname like '%${pmpname}%'
			</if>
			<if test="pmpms != null">
				and pmpms like '%${pmpms}%'
			</if>
			<if test="pmpkssj != null">
				and pmpkssj > #{pmpjssj}
			</if>
			<if test="pmpjssj != null">
				and pmpjssj &lt; #{pmpkssj}
			</if>
			<if test="pmpqpj != null">
				and pmpqpj = ${pmpqpj}
			</if>
		</where>
	</select>

</mapper>